html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}

.score-board {
  z-index: 1;
}

.user-label {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.computer-label {
  top: 50%;
  right: 0;
  transform: translate(65%, -50%);
  font-size: 18px;
}

.choice {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.choice:hover {
  box-shadow: 0 0 5px 10px #ccc;
}
